[theme]
name = "modern"

[icons]
name = "awesome"

[[block]]
block = "battery"
interval = 10
format = "KB {percentage}"
device = "hid-dc:2c:26:2f:52:58-battery"
allow_missing = true
hide_missing = true

[[block]]
block = "music"
buttons = ["play", "next"]
hide_when_empty = false
dynamic_width = false

[[block]]
block = "net"
device = "wlp0s20f3"
format = "{ssid} {signal_strength}{speed_down}{speed_up}"
interval = 5
hide_inactive = true

[[block]]
block = "net"
device = "enp7s0"
format = "Ethernet{speed_down}{speed_up}"
interval = 5
hide_inactive = true

[[block]]
block = "memory"
display_type = "memory"
# format_mem = "{Mug}GB ({Mup}%)"
format_mem = "{mem_used;G}({mem_used_percents})"
# format_swap = "{SUg}GB/{STg}GB({SUp}%)"
format_swap = "{swap_used;G}/{swap_total;G}({swap_used_percents})"

# [[block]]
# block = "disk_space"
# path = "/"
# alias = "/"
# info_type = "available"
# unit = "GB"
# interval = 20
# warning = 20.0
# alert = 10.0

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1
format = "{1m}"

[[block]]
block = "temperature"
collapsed = false
interval = 10
format = "{average}"

[[block]]
block = "hueshift"
hue_shifter = "redshift"
step = 50
click_temp = 3500

[[block]]
block = "sound"

[[block]]
block = "battery"
interval = 10
format = "{percentage} {time}"
# full_format = "100% "

[[block]]
block = "time"
interval = 5
format = "%a %d/%m %R"
